# Python
__pycache__/
*.py[oc]
*.egg-info
dist/
wheels/

# Virtual environments
.venv

# Environment
.env
.gitbash.lnk

# OS junk
.DS_Store
Thumbs.db

# Logs
*.log

# IDE
.idea/
.vs/
.vscode/

# VS user files
*.user
*.suo
*.userosscache
*.sln.docstates

# .NET build
bin/
obj/
*.nupkg
packages/

# Flutter / Dart
build/
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
coverage/

# Flutter symbolication
app.*.symbols
app.*.map.json

# Android build outputs
/android/app/debug
/android/app/profile
/android/app/release
